# Files and directories with the attribute export-ignore won’t be added to
# archive files. See http://git-scm.com/docs/gitattributes for details.
#
# This prevents them from being included in distributed versions of the package.
/.circleci/		export-ignore
/.mypy_cache/	export-ignore
/__pycache__/	export-ignore
/bin/			export-ignore
/stubs/			export-ignore
/tests/			export-ignore
/.gitattributes	export-ignore
/.gitignore		export-ignore
/.pylintrc		export-ignore
/Makefile		export-ignore
