# Files and directories with the attribute export-ignore won’t be added to
# archive files. See http://git-scm.com/docs/gitattributes for details.
#
# This prevents them from being included in distributed versions of the package.
/test_data/	export-ignore
/.pylintrc	export-ignore
/.circleci/	export-ignore
/.gitignore	export-ignore
/Makefile	export-ignore
